@import "tailwindcss";

@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  font-family: 'Vazir', sans-serif;
}
